{# front.html
   ==========

Front page
#}
{% extends "main.html" %}

{% block body %}
<h1>{{APP_LOGO}} {{APP_TITLE}}
<small>on port {{PORT}}</small></h1>

<p>App name <tt>{{APP_NAME}}</tt>, using database <tt>{{DB_NAME}}</tt>.</p>
{% if currentUserName() %}
<p>Welcome, {{currentUserName()}}.</p>
{% else %}
<p>Hello, you can <a href="/login"><i class='fa fa-sign-in'></i>
log in</a>.</p>
{% endif %}

{% if adminSiteExists %}
<p><a class="btn btn-info" href="/admin">View Admin Site
<i class='fa fa-arrow-right'></i>
</a></p>
{% endif %}

<h2>Big Icons</h2>

<p><span style="font-size:500%;color:#900">
  <i class='icon-noun_752516_cc'></i>
  <i class='icon-noun_71141_cc'></i>
  <i class='icon-noun_71140_cc'></i>
  <i class='icon-noun_71181_cc'></i>
  <i class='icon-noun_162884_cc'></i>
  <i class='icon-noun_1596749_cc'></i>
</span></p>

{% endblock body %}


{# end #}
