{# front.html
   ==========

Front page
#}
{% extends "main.html" %}

{% block body %}
<h1>{{APP_LOGO}} {{APP_TITLE}}
<small>on port {{PORT}}</small></h1>

<p>App name <tt>{{APP_NAME}}</tt>, using database <tt>{{DB_NAME}}</tt>.</p>

<h2><i class='fa fa-star'></i> Second Level heading</h2>

<h3><i class='fa fa-hand-o-right'></i> Third Level heading</h3>

<p>The Raspberry icons:
  <i class='icon-noun_752516_cc'></i>
  <i class='icon-noun_71141_cc'></i>
  <i class='icon-noun_71140_cc'></i>
  <i class='icon-noun_71181_cc'></i>
  <i class='icon-noun_162884_cc'></i>
  <i class='icon-noun_1596749_cc'></i>
</p>

<h2>Big Icons</h2>

<p><span style="font-size:500%;color:#900">
  <i class='icon-noun_752516_cc'></i>
  <i class='icon-noun_71141_cc'></i>
  <i class='icon-noun_71140_cc'></i>
  <i class='icon-noun_71181_cc'></i>
  <i class='icon-noun_162884_cc'></i>
  <i class='icon-noun_1596749_cc'></i>
</span></p>

{% endblock body %}


{# end #}
