{# testForm.html
   =============

Front page
#}
{% extends "main.html" %}

{% block body %}
<h1><i class='fa fa-check-square-o'></i> Test Form</h1>

<p>This is a test form, for testing <tt>FormDoc</tt>.</p>

<form method=POST>
{{theTF.buildForm()}}

<p><br>
<button class='btn btn-primary'>
   <i class='fa fa-arrow-circle-right'></i> 
   Submit Form</button></p>
</form>

{% if resultTable %}
<h2><i class='fa fa-table'></i> Form Contents</h2>
{% endif %}

{{resultTable}}

{% endblock body %}


{# end #}